
html, body, div, span, h2, h3, p, button, img, dl, dt, dd, fieldset, form, label, footer, input, section {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
address {
    font-style: normal;
}
img {
    display: block;
}
ol, ul {
    list-style: none outside none;
}
p, ul, p:last-child {
    margin-bottom: 20px;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font: 13px/19px 'PFDinTextPro-Regular',sans-serif;
}
html {
    height: 100%;
}
a:hover {
    color: #615452;
}
sup {
    font-size: 0.6em;
    position: relative;
    top: -0.5em;
}
a, button, .phone, .bt_next_arrow span, #shop input, #shop select, #shop label span, #shop label, .paypal {
    transition: all 0.2s ease-out 0s;
}
.links a {
    transition: padding 0.1s ease-out 0s;
}
nav.main a, .breadcrumb a {
    transition: background 0.1s ease-out 0s;
}
.buttons button {
    transition: background-color 0.2s ease-out 0s;
}
.globalnav a:hover {
    color: #FFFFFF;
}
.conditions a, .spas_network {
   
}
.globalnav .conditions a {
    border: 0 none;
    font: 10px/12px 'PFDinTextPro-Regular',sans-serif;
    margin-right: 5px;
    text-align: right;
}
a.ext:hover span {
    right: 13px;
}
.topnav ul {
    float: right;
    overflow: visible;
}
.topnav li {
    border-left: 1px solid rgba(68, 39, 33, 0.35);
    height: 24px;
    position: relative;
    text-transform: uppercase;
}
.topnav .cart a:hover {
    background: none repeat scroll 0 center transparent;
    color: #615452;
}
.topnav .cart a:hover .icon {
    background-position: -90px -120px;
}
.topnav .cart.has_items a:hover .icon {
    background-position: -90px -90px;
}
.topnav .phone {
    color: #442822;
    display: block;
    font: 200 10px/19px 'PFDinTextPro-Light',sans-serif;
    margin: 4px;
    padding: 0 6px;
}
.topnav .phone {
    height: 20px;
    margin: 0 4px 0 10px;
    padding: 4px 4px 0 8px;
}
.topnav .cart {
    border-left: medium none;
}
.topnav .facebook a:hover {
    background: none repeat scroll 0 center transparent;
}
.topnav .facebook a:hover span {
    background-position: 0 -30px;
}
.topnav a:hover, .active a {
    background: none repeat scroll 0 0 #442822;
    color: #FFFFFF;
}
#newsletter .btclose:hover {
    background-color: #615452;
    background-position: -206px -26px;
}
#newsletter button:hover {
    background-color: #D41414;
}
.section {
    min-width: 980px;
    overflow: hidden;

}

.globalnav .inner, .section_inner {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    z-index: 800;
}
.globalnav .inner {
    min-width: 980px;
    width: 980px;
}
.section_inner {
    padding-top: 45px;
}
.section_inner.fixed {
    margin: 0 auto;
    width: 820px;
}
nav.main a, .breadcrumb a {
    color: #000000;
    display: block;
    font: 200 15px/25px 'PFDinTextPro-Light',sans-serif;
    padding: 0 15px 18px;
    text-transform: uppercase;
}
nav.main a:hover, nav.main span:hover, .article_nav a:hover, .article_nav span:hover, .breadcrumb a:hover, .breadcrumb span:hover {
    background-position: 30% 35px;
}
.breadcrumb ul {
    margin-left: -21px;
    margin-right: 0;
}
.breadcrumb li {
}
.breadcrumb li a:hover {
    background-position: 50% 35px;
}
.breadcrumb li.active a, .breadcrumb li.active span {
    background-position: 50% 31px;
}
.breadcrumb li.inactive span {
    color: #BBB2A7;
}
.breadcrumb li a, .breadcrumb li span {
    padding: 0 26px 18px 21px;
}
.sept {
}
.links a, .cta {
    padding-bottom: 10px;
    padding-right: 15px;
    text-decoration: underline;
}
.links a:hover, .cta:hover {
    background-position: 100% -48px;
    padding-right: 20px;
}
.buttons {
    margin-top: 30px;
    overflow: hidden;
}
.buttons button {
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    font: 500 11px/23px 'PFDinTextPro-Medium',sans-serif;
    height: 23px;
    padding: 0 13px;
    text-transform: uppercase;
}
.buttons button:hover, .buttons .bt:hover {
    background-color: #D41414;
    cursor: pointer;
}
.buttons button.bt_submit .is_loading {
    margin-top: -7px;
    right: 5px !important;
}
a.icomap:hover span {
    background-position: -60px -30px;
}
strong {
    font-family: 'PFDinTextPro-Medium',sans-serif;
}
.tip_tel {
    width: 255px;
}
.lightbox .btclose:hover {
    background-color: #615452;
    background-position: -235px -55px;
}
.lightbox .buttons a:hover span {
    right: 7px;
}
.carrousel .dots a:hover {
    background-position: -150px -60px;
}
.price_grid .prices button:hover {
    background-color: #D41414;
}
.price_grid.inactive button:hover {
    background: none repeat scroll 0 0 #BBB2A7;
}
.prices_h_1 .prices .time_wrapper .number {
    font: 200 68px/120% 'PFDinTextPro-Light',sans-serif;
    margin-left: 17px;
}
.prices_v_2 .prices .price_wrapper {
    margin-bottom: 0;
    overflow: hidden;
    width: 110px;
}
.prices_v_2 .prices .label {
    font: 200 15px/20px 'PFDinTextPro-Light',sans-serif;
    width: 150px;
}
.prices_v_2 .prices .buttons {
    margin-top: 2px;
}
#shome .dots a:hover {
    background-position: -180px -60px;
}
#home_promos .pdf:hover {
    background-position: 100% -48px;
}
#space .articles article.inactive:hover, #treatment .articles article.inactive:hover {
    cursor: pointer;
    opacity: 0.5;
}
#space .articles {
    width: 4760px;
}
#treatment .detail nav.sub a:hover {
    color: #BBB2A7;
}
#shop .section_inner {
    padding-bottom: 85px;
}
.shopping-top .topnav a:hover {
    background: none repeat scroll 0 0 #D41414;
}
#shop .legend {
    font: 500 14px/23px;
    margin-bottom: 15px;
}
#shop .instructions {
    border-bottom: 1px solid #000000;
    font: 200 20px/27px 'PFDinTextPro-Light',sans-serif;
    margin-bottom: 0;
    padding: 35px 0;
    text-transform: uppercase;
}
#shop .ff_fake_button {
    float: left;
    position: relative;
}
#shop .ff_fake_button button {
    display: block;
    float: none;
    position: static;
}
.notice_click_once {
    color: #000000;
    float: left;
    font-size: 11px;
    line-height: 15px;
    margin-top: 17px;
}
#step3 #payment_method_choice {
    margin-top: 25px;
}
#step5 dt.inline {
    margin-right: 0.4em;
}
form {
    font: 14px/23px 'PFDinTextPro-Regular',sans-serif;
    position: relative;
    text-transform: uppercase;
}
form label {
    position: relative;
}
form label:hover input, form label:hover select, form label:hover span input, form label:hover span select {
    border-color: #BBB2A7;
}
form .label input:hover, form .label select:hover {
    border-color: #BBB2A7;
}
form dl {
    overflow: hidden;
    padding: 25px 0;
}
form dt {
    margin-right: 20px;
}
form dt, form dd {
    float: left;
    overflow: hidden;
}
form dd {
    margin-right: -20px;
}
form dd label {
    float: left;
    margin-right: 20px;
}
form dd label:hover span {
    color: #BBB2A7;
}
form fieldset, form .fieldset {
    overflow: hidden;
}
form fieldset .inner {
    margin: 25px 0;
}
form .clearfix {
    overflow: visible;
}
form .paypal_wrapper {
    padding-right: 65px;
    position: relative;
}
form .paypal {
    position: absolute;
    right: 0;
    top: -8px;
}
form .paypal:hover {
    cursor: pointer;
    opacity: 0.7;
}
form #label_creditcard_expiration input {
    text-align: center;
}
form #creditcard_exp_month {
    width: 30px;
}
form #creditcard_exp_year {
    width: 30px;
}
form #security_code {
    width: 223px;
}
form #security_code input {
    text-align: center;
    width: 40px;
}
form .checkbox:hover {
    color: #BBB2A7;
}
form .checkbox:hover a {
    color: #BBB2A7;
}
form .checkbox:hover a:hover {
    color: #000000;
}
form .decorate:hover {
    text-decoration: none;
}
input, select {
    border: 1px solid #000000;
    color: #615452;
}
input[type="checkbox"], input[type="radio"] {
    border: 0 none;
    width: inherit !important;
}
input:focus, select:focus {
    border-color: #BBB2A7;
}
.fields {
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
}
.fields label {
    float: left;
    margin-right: 20px;
}
.fields .label {
    float: left;
}
.fields .label input {
    margin-right: 20px;
}
.fields input, .fields select {
    line-height: 20px;
    padding: 3px 5px;
}
.fields select {
    padding: 4px 5px;
}
.fields .label label {
    display: inline;
    margin: 0;
    text-indent: -999em;
    width: 0;
}
.fields .label input {
    margin-right: 10px;
}
.onefield input {
    width: 263px;
}
.twofields input {
    width: 213px;
}
.twofields select {
    margin: 0;
    width: 223px;
}
#shopping_cart_list th {
    line-height: 45px;
    text-align: left;
}
#shopping_cart_list td {
    vertical-align: middle;
}
footer {
    border-top: 1px solid #000000;
    overflow: hidden;
    position: relative;
}
footer .buttons {
    float: right;
    margin: 20px 0 0 -5px;
}
footer .buttons button {
    float: left;
    margin-left: 5px;
}
.quantity .item_quantity {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    color: #000000;
    font: 200 20px/44px 'PFDinTextPro-Light',sans-serif;
    height: 44px;
    padding: 3px;
    text-align: center;
    width: 35px;
}
.quantity .btadd, .quantity .btremove {
    height: 51px;
    overflow: hidden;
    width: 35px;
}
.quantity .btadd span {
    display: block;
    overflow: hidden;
    text-indent: -99em;
}
.quantity .btremove span {
    display: block;
    overflow: hidden;
    text-indent: -99em;
}
.bt_remove_item {
    cursor: pointer;
    display: block;
    height: 23px;
    margin-right: 8px;
    overflow: hidden;
    text-indent: -99em;
    width: 11px;
}
.bt_remove_item:hover {
    background-position: -120px -117px;
}
.bt_back_arrow span {
    display: block;
    height: 7px;
    left: 9px;
    margin-top: -3px;
    overflow: hidden;
    position: absolute;
    text-indent: -99em;
    top: 50%;
    width: 8px;
}
.bt_back_arrow:hover span {
    left: 6px;
}
.bt_next_arrow {
    padding-right: 25px !important;
    position: relative;
}
.bt_next_arrow span {
    display: block;
    height: 7px;
    margin-top: -3px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    text-indent: -99em;
    top: 50%;
    width: 8px;
}
.bt_next_arrow:hover span {
    right: 6px;
}
.bt_light:hover {
    background: none repeat scroll 0 0 #D41414 !important;
}
h2, h3, h4 {
    color: #000000;
    text-transform: uppercase;
}
h2 {
    font: 200 33px/35px 'PFDinTextPro-Light',sans-serif;
}
h2.main {
    margin-bottom: 30px;
}
h3 {
    font: 200 25px/32px 'PFDinTextPro-Light',sans-serif;
    margin-bottom: 20px;
}
h4 {
    color: #615452;
    font: 200 18px/21px 'PFDinTextPro-Light',sans-serif;
    margin-bottom: 20px;
}
a:focus, object:focus, input:focus, textarea:focus, select:focus {
    outline: 0 none;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
#sitemap a:hover, a:active {
    text-decoration: none;
}
.tgi-nav1>li {float:left;margin-right:6px; }
.tgi-nav1>li li {float:left; margin-right:15px; line-height:35px}

em {
	font-style:italic; 
}
#page_externe #section_inner  p:first-child { text-transform: none;font-size:16px }
a:visited { text-decoration: underline; }
#page_externe a:hover, a:active { text-decoration: none; }
ul.tgi-nav1 > li:first-child> a.active{background-position:30% 31px}

ul.tgi-nav1 > li > a:hover{background-position:center 34px}
ul.tgi-nav1 > li > a.active:hover{background-position:center 31px}

ul.tgi-nav1 > li:first-child > a:hover{background-position:30% 34px}
ul.tgi-nav1 > li:first-child > a.active:hover{background-position:30% 31px}



html,
body {
height: 100%;

}


#wrap {
min-height: 100%;
height: auto !important;
height: 100%;

margin: 0 auto -95px;
}


.overlays.bubbles  div{display:block}

.overlays.rocks  div{display:block}
.required-error {
clear: left;
color: #D41414;
display: block;
float: none !important;
font-size: 11px;
line-height: 24px;
text-indent: 0 !important;}





