<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TEST</title>
</head>
<body style="margin: 0; padding: 0; background-color: #fff;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="20" cellpadding="0">
    <tr>
        <td bgcolor="#fff" style="background-color: #fff;">
            <!--content section-->
            <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="70" valign="top">
                        <img style="margin: 0; padding: 0; display: block;" src="%s/images/simple_linux_logo_by_dablim-d5k4ghu.png" width="42" height="131">
                    </td>
                    <td bgcolor="#FFFFFF">
                        <table width="480" border="0" cellspacing="0" cellpadding="0">
                            <!-- HEADER -->
                            <tr>
                                <td align="right" style="text-align: right; padding-bottom: 40px;">
                                    <p style="font-size: 13px; color: #84726f; margin: 0; padding: 0; font-family: arial, sans-serif; text-transform: uppercase;">
                                        <a href="[[urlRoot]]" target="_blank" style="color: #84726f; text-decoration: none">test.com</a> | 1 800 555-5555</a>
                                    </p>
                                </td>
                            </tr>
                            
                            <!-- CONTENT -->
                            <tr>
                                <td align="left" style="padding: 26px 0;">
                                    <p style="font-size: 15px; line-height: 27px; color: #96232f; margin: 0; padding: 0; font-family: arial, Helvetica, sans-serif;">
                                        <strong>Hello %s</strong>,
                                        <br />
                                        Thank you for purchasing a test product. The product of well-being is the greatest product of all.
                                        <br />
                                        %s
                                    </p>
                                </td>
                            </tr>
                            
                            <!-- SOMMAIRE -->
                            <tr>
                                <td>
                                    <table width="480" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" colspan="2" style="font-size: 1px; line-height: 1px; padding: 10px 0;" valign="top"><img src="[[urlRoot]]/skins/default/media/images/img-sky/mail/bg_dot.png" alt="line" width="480" height="1" style="border: 0; display: block;"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="45%"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                <strong>Confirmation number</strong>
                                            </p></td>
                                            <td valign="top"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                %s
                                            </p></td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="2" style="font-size: 1px; line-height: 1px; padding: 10px 0;" valign="top"><img src="[[urlRoot]]/skins/default/media/images/img-sky/mail/bg_dot.png" alt="line" width="480" height="1" style="border: 0; display: block;"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="45%"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                <strong>Purchases</strong>
                                            </p></td>
                                            <td valign="top"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                %s
                                            </p></td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="2" style="font-size: 1px; line-height: 1px; padding: 10px 0;" valign="top"><img src="[[urlRoot]]/skins/default/media/images/img-sky/mail/bg_dot.png" alt="line" width="480" height="1" style="border: 0; display: block;"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="45%" style="padding: 0 0 10px;"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                <strong>Total</strong>
                                            </p></td>
                                            <td valign="top" style="padding: 0 0 10px;"><p style="font-size: 15px; font-family: arial, sans-serif; color:#96232f;">
                                                %s
                                            </p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="70"></td>
                </tr>
            </table>
            <!--/content section-->
            
            <!--break-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
            <!--/break-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
